<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet"
          th:href="@{/bootstrap/css/bootstrap.min.css}">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragment/nav.html::nav}"></div>
<form class="container mt-5" th:action="@{/save}" th:object="${student}" method="post">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
           <div class="form-group">
               <label for="firstName">FirstName</label>
               <input type="text" id="firstName" class="form-control" required th:field="*{firstName}">
               <div class="valid-feedback">Valid</div>
               <div class="invalid-feedback alert alert-danger">FirstName cannot be empty.</div>
           </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="lastName">LastName</label>
                <input type="text" id="lastName" class="form-control" required th:field="*{lastName}">
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback alert alert-danger">LastName cannot be number.</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" class="form-control" required th:field="*{email}">
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">Email cannot be empty.</div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" required th:field="*{password}">
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">Email cannot be empty.</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="age">Age</label>
                <input type="number" id="age" class="form-control" required th:field="*{age}">
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">Age cannot be text.</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" id="country" class="form-control" required th:field="*{country}">
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">Country cannot be text.</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" id="city" class="form-control" required th:field="*{city}">
                <div class="valid-feedback">Valid</div>
                <div class="invalid-feedback">City cannot be text.</div>
            </div>
        </div>
    </div>
    <button class="btn btn-outline-primary btn-block" type="submit">Register</button>
</div>
</form>
</body>
</html>